body {
	margin: 0;
	background-color: #737373;
	font-family: Impact,Charcoal,sans-serif;
}

nav{
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	width: 100%;
	background-color: #000000;
	height: 60px;
}

nav > h1{
	padding: 10px;
	margin: 5px;
	color: #0099e6;
	text-shadow: 0 0 20px #29a3a3;
}

main {
	height: 100%;
	width: 100%;
}

main > div{
	margin: 10px 10px auto;
	float: left;
}

#container{
	height: 550px;
	width:550px;
	border-style: solid;
}

.button{
	background-color: #0099e6;
	padding: 5px;
	border-radius: 15px;
}

.button:hover{
	background-color: #33bbff;
	cursor:pointer;
}

select{
	padding: 5px;
	margin: 25px;
}
